<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{if .Title}}
    <title>{{.Title}}</title>
    {{else}}
    <title>ToDoList!</title>
    {{end}}
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
    <link rel="stylesheet" type="text/css" href="/static/third-party/layui/css/layui.css">
    <script src="/static/third-party/jquery.min.js"></script>
    <script src="/static/third-party/layui/layui.js" charset="utf-8"></script>

</head>

<body>

    {{template "content" .}}

</body>

</html>
<script src="/static/js/global.js"></script>